#background{



-fx-background-color:
linear-gradient(to right bottom, #051153 36.23%, #820275 83.76%);;


}
/*Attribute*/
.glass{
    -fx-background-color: rgba(217, 217, 217, 0.22);
    -fx-background-radius: 25px;
}
.reset-radius{
    -fx-background-radius: 0px;


}

.pfp{

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.34), 8, 0.2,5,4);


}




/*label*/

.heading-label{
-fx-font-family: Verdana;
-fx-font-size: 35px;
-fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;

}

.label-text{
    -fx-font-family: Marlett;
    -fx-font-size: 13px;
    -fx-text-fill: rgba(255, 255, 255, 0.59);


}

.text-field{
    -fx-background-color: rgba(217, 217, 217, 0.33);
-fx-background-radius: 23px;
-fx-prompt-text-fill: rgba(255, 255, 255, 0.66);
    -fx-text-fill: white;
-fx-font-family: Marlett;
}

 label-text-end{
     -fx-font-family: Marlett;
     -fx-font-size: 14px;
     -fx-text-fill: rgb(255, 255, 255);

 }

#username-dashboard{

    -fx-font-size: 22px;
    -fx-text-fill: rgba(255, 255, 255, 0.95);

}

.label-dashboard-side{

    -fx-font-size: 19px;
    -fx-font-family: Marlett;

    -fx-text-fill: rgba(255, 255, 255, 0.75);


}

#terms-btn .text{
-fx-font-weight: light;
    -fx-font-size: 13px;
    -fx-text-fill: rgba(255, 255, 255, 0.75);
}
/*button*/
.button{


    -fx-background-color: #c20c9a;
-fx-background-radius: 23px;
-fx-text-fill: white;
    -fx-font-family: Marlett;
    -fx-font-size: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.29), 10, 0.3,5,5);
}
.button:hover{

-fx-cursor: HAND;
    -fx-background-color: rgb(231, 10, 184);

    -fx-text-fill: #ffffff;

-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.29), 10, 0.3,5,5);
}

.button .text{

    -fx-stroke: white;
-fx-stroke-width: 0.7px;

}
#Signup-button
{

    -fx-background-color: none;
    -fx-text-fill: #dc13a7;
    -fx-font-weight: bold;
    -fx-effect: none;

}
#Signup-button:hover
 {
    -fx-text-fill: rgb(255, 0, 201);
    -fx-cursor: HAND;


 }
#Signup-button .text
{
    -fx-stroke: none;

}
#dashboard-logout{
 -fx-font-size: 14px;


}
.dashboard-side-btn{
-fx-background-color: none;
-fx-effect: none;
    -fx-font-size: 15px;
    -fx-font-family: Marlett;

    -fx-text-fill: rgba(255, 255, 255, 0.75);
-fx-stroke-width: 0px;
    -fx-font-weight: none;
}
.dashboard-side-btn:hover {
    -fx-effect: none    ;
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-cursor: HAND;
}

/*Shape*/
.line{

    -fx-stroke: white;
-fx-opacity: 1;
    -fx-stroke-width: 0.5px;

}



/*Choice-box*/
.choice-box{
-fx-text-fill: white;
-fx-mark-color: #c20c9a;

}

.choice-box .context-menu { -fx-background-color: #051153; }

.choice-box .menu-item:focused { -fx-background-color: #c20c9a; }
.choice-box .menu-item > .label { -fx-text-fill: white; }

.choice-box > .label {    -fx-text-fill: rgb(255, 255, 255);

}




